In [1]:
# A look into FPI activity in equity from NSDL
# Data is published with an 8 month delay.

In [1]:
from pathlib import Path

import pandas as pd

In [2]:
%load_ext jupyter_black
pd.options.display.float_format = "{:.0f}".format

### Explore a single month of data

In [16]:
DATA_PATH = Path() / "nsdl_data" / "2025"

In [25]:
dat1 = pd.read_excel(DATA_PATH / "jan-2025.xlsx", engine="openpyxl")

In [26]:
dat1.head()

,RFDE_CUST_REG_NUM,RFDE_RPT_DT,RFDE_TXN_ID,FII,SUB_ACC,BRKER,SCRIP_NAME,ISIN,TR_DATE,TR_TYPE(*),RFDE_SE_REG_NUM,RFDE_STLD_CODE,RATE,QUANTITY,VALUE (in Rs),RFDE_INSTR_TYPE,RFDE_REASON_DLAY,RFDE_RPT_TYPE,RFDE_AMDMNT_REASON
0,IN/CUS/025,2025-01-01,184,NaN,S868343869412,B770386235885,NMDC LTD,INE584A01023,2025-01-01,7,99,REG_DL_STLD_04,0.0,7298.0,0.0,REG_DL_INSTR_EQ,REG_DL_DLAY_P,DL_RPT_TYPE_N,DL_AMDMNT_DEL_00
1,IN/CUS/022,2025-01-01,1085893,F750013435337,S1200737910842,B770386235885,Banco Products (India) Ltd.,INE213C01025,2025-01-01,7,99,REG_DL_STLD_04,0.0,930.0,0.0,REG_DL_INSTR_EQ,REG_DL_DLAY_P,DL_RPT_TYPE_N,DL_AMDMNT_DEL_00
2,IN/CUS/022,2025-01-01,1085894,F586108693778,S421851293887,B770386235885,Banco Products (India) Ltd.,INE213C01025,2025-01-01,7,99,REG_DL_STLD_04,0.0,13326.0,0.0,REG_DL_INSTR_EQ,REG_DL_DLAY_P,DL_RPT_TYPE_N,DL_AMDMNT_DEL_00
3,IN/CUS/023,2025-01-01,000063615929,F1068518164010,S1048660787178,B770386235885,BANCO PRODUCTS (INDIA) LIMITED,INE213C01025,2025-01-01,7,99,REG_DL_STLD_04,0.0,587.0,0.0,REG_DL_INSTR_EQ,REG_DL_DLAY_P,DL_RPT_TYPE_N,DL_AMDMNT_DEL_00
4,IN/CUS/023,2025-01-01,000063615927,F874962995022,S502610051852,B770386235885,BANCO PRODUCTS (INDIA) LIMITED,INE213C01025,2025-01-01,7,99,REG_DL_STLD_04,0.0,111457.0,0.0,REG_DL_INSTR_EQ,REG_DL_DLAY_P,DL_RPT_TYPE_N,DL_AMDMNT_DEL_00

In [65]:
dat1.rename(columns={"TR_TYPE(*)": "TR_TYPE", "VALUE (in Rs)": "VALUE"}, inplace=True)

In [66]:
dat1.iloc[0].transpose()

RFDE_CUST_REG_NUM              IN/CUS/025
RFDE_RPT_DT           2025-01-01 00:00:00
RFDE_TXN_ID                           184
FII                                   NaN
SUB_ACC                     S868343869412
BRKER                       B770386235885
SCRIP_NAME                       NMDC LTD
ISIN                         INE584A01023
TR_DATE               2025-01-01 00:00:00
TR_TYPE                                 7
RFDE_SE_REG_NUM                        99
RFDE_STLD_CODE             REG_DL_STLD_04
RATE                                  0.0
QUANTITY                           7298.0
VALUE                                 0.0
RFDE_INSTR_TYPE           REG_DL_INSTR_EQ
RFDE_REASON_DLAY            REG_DL_DLAY_P
RFDE_RPT_TYPE               DL_RPT_TYPE_N
RFDE_AMDMNT_REASON       DL_AMDMNT_DEL_00
Name: 0, dtype: object

In [34]:
dat1.TR_TYPE.value_counts(ascending=False)

TR_TYPE
4     236836
1     196471
7       2772
15      1806
2        810
3         34
5         16
8         13
12        13
16        10
14         9
13         8
10         5
11         1
Name: count, dtype: int64

### Transaction type (TR_TYPE) - Frequent (top 2)
- Sale in secondary market 	04
- Purchase in secondary market 	01

In [72]:
fpi = dat1[(dat1.TR_TYPE == 1) | (dat1.TR_TYPE == 4)]

In [74]:
fpi.loc[:, "TR_DATE"] = pd.to_datetime(fpi["TR_DATE"])

In [61]:
fpi[fpi.ISIN == "INE982J01020"][:3]

,RFDE_CUST_REG_NUM,RFDE_RPT_DT,RFDE_TXN_ID,FII,SUB_ACC,BRKER,SCRIP_NAME,ISIN,TR_DATE,TR_TYPE,RFDE_SE_REG_NUM,RFDE_STLD_CODE,RATE,QUANTITY,VALUE (in Rs),RFDE_INSTR_TYPE,RFDE_REASON_DLAY,RFDE_RPT_TYPE,RFDE_AMDMNT_REASON
691,IN/CUS/023,2025-01-02,0O00004G5YIS,F1068518164010,S1048660787178,B1083872365222,ONE 97 COMMUNICATIONS LIMITED,INE982J01020,2025-01-01,1,23,REG_DL_STLD_01,989.3106,33604.0,33244793.40,REG_DL_INSTR_EQ,REG_DL_DLAY_P,DL_RPT_TYPE_N,DL_AMDMNT_DEL_00
742,IN/CUS/023,2025-01-02,0O00004G5W85,F1068518164010,S1048660787178,B1083872365222,ONE 97 COMMUNICATIONS LIMITED,INE982J01020,2025-01-01,4,1,REG_DL_STLD_01,986.2558,43.0,42409.00,REG_DL_INSTR_EQ,REG_DL_DLAY_P,DL_RPT_TYPE_N,DL_AMDMNT_DEL_00
1051,IN/CUS/023,2025-01-02,0O00004G5WF3,F1068518164010,S1048660787178,B1083872365222,ONE 97 COMMUNICATIONS LIMITED,INE982J01020,2025-01-01,4,23,REG_DL_STLD_01,988.1672,2843.0,2809359.35,REG_DL_INSTR_EQ,REG_DL_DLAY_P,DL_RPT_TYPE_N,DL_AMDMNT_DEL_00

## ISIN maps to NSE
ISIN can be used to link to NSE if needed to obtain the stock information.
https://www.nseindia.com/get-quotes/equity?symbol=FIVESTAR  

There is `[FII, SUB_ACC, BRKER]` FII, Subaccount, and a broker associated with each data point.  
There is a potential to map this data as well.

## Initial analysis
To begin with, let's aim to summarize the purchase and sale by:
1. scrip
2. fpi
3. month/year

Build a quick shiny app for the above to be served from AWS.

In [91]:
fpi.to_csv("jan_buy_sell.csv")

In [90]:
fpi.groupby("TR_TYPE")[["VALUE"]].sum() / 10000000

            VALUE
TR_TYPE
1       262487.82
4       338538.38

## TODO - PLOTS
1. FPI monthly buy and sell value
2. FPI by country buy and sell value (monthly)
3. Scrip level diving of purchase and sale.
4. FPI level buy and sale or net position
5. Size of FPI and net position in scrips.

In [9]:
fpi = pd.read_csv("nsdl_data/jan_buy_sell_2025.csv", index_col=0)

In [10]:
cols_keep = ["SCRIP_NAME", "ISIN", "TR_DATE", "TR_TYPE", "RATE", "QUANTITY", "VALUE"]

In [11]:
fpi = fpi[cols_keep]

In [34]:
fpi[fpi.TR_TYPE == 4].groupby(["SCRIP_NAME", "ISIN"], as_index=True).agg(
    # {
    {"VALUE": "sum", "RATE": ["min", "max"]}
    TOTAL_VALUE = pd.NamedAgg(column="VALUE", aggfunc="sum"),
    LOWEST_PRICE =pd.NamedAgg(column="RATE", aggfunc="min"),
    # WEGHTED_RATE =     
# }
).sort_values(by=("VALUE", "sum"), ascending=False).head()

                                                            VALUE RATE
                                                              sum  min  max
SCRIP_NAME                               ISIN
HDFC BANK LTD INR 1                      INE040A01034 77634791262 1626 1797
AXIS BANK LIMITED INR 2                  INE238A01034 52442149927  939 1089
HDFC BANK LIMITED EQ FV01                INE040A01034 49827688658 1626 1800
ICICI BANK LIMITED INR 2                 INE090A01021 44116598042 1188 1290
AXIS BANK LIMITED EQ FV 2                INE238A01034 39146858863  937 1089

## alculating the average monthly volume of FPIs

In [1]:
import pyarrow.parquet as pq

In [9]:
df1 = pq.read_table("fpi_data/fpi_2024_2025.parquet")

In [10]:
dfp = df1.to_pandas()

In [11]:
dfp.shape

(5908077, 13)

In [12]:
dfp = dfp[(dfp.TR_TYPE == 4) | (dfp.TR_TYPE == 1)]

In [13]:
dfp.head()

,SCRIP_NAME,ISIN,TR_DATE,TR_TYPE,RATE,QUANTITY,VALUE,month,year,mutual_fund,value_crores,company_name,instrument_type
11,GUJARAT INDUSTRIES P,INE162A01010,2024-02-01,4,222.7558,5000.0,1.113779e+06,feb,2024,0,0.111378,Gujarat Industries Power Company Limited,Equity
12,ADANI TOTAL GAS LIMI,INE399L01023,2024-02-01,1,1009.0338,950000.0,9.585821e+08,feb,2024,0,95.858211,Adani Total Gas Limited,Equity
13,RESPONSIVE INDUSTRIE,INE688D01026,2024-02-01,1,299.7814,4000.0,1.199126e+06,feb,2024,0,0.119913,Responsive Industries Limited,Equity
14,RESPONSIVE INDUSTRIE,INE688D01026,2024-02-01,1,299.3705,22408.0,6.708294e+06,feb,2024,0,0.670829,Responsive Industries Limited,Equity
15,RESPONSIVE INDUSTRIE,INE688D01026,2024-02-01,4,300.9500,4000.0,1.203800e+06,feb,2024,0,0.120380,Responsive Industries Limited,Equity

In [14]:
dfp.shape

(5841568, 13)

In [ ]:
dfp1_4 = dfp[(dfp.TR_TYPE == 4) | (dfp.TR_TYPE == 1)]

In [9]:
(
    dfp1_4.groupby(["month", "year", "TR_TYPE"])["QUANTITY"].sum() / 10000000
).reset_index()["QUANTITY"].mean()

np.float64(716.6711378341)

In [15]:
(
    dfp1_4[dfp1_4["year"] == 2024].pivot_table(
        index=["month", "year"],
        columns=["TR_TYPE"],
        values=["QUANTITY"],
        aggfunc="sum",
    )
    / 10000000
)

              QUANTITY
TR_TYPE              1            4
month year
apr   2024  866.226858   798.108041
aug   2024  987.912810  1035.010921
dec   2024  505.468094   554.735808
feb   2024  844.195422   815.491761
jan   2024  664.295956   703.615247
jul   2024  712.413343   693.121568
jun   2024  921.244076   798.978711
mar   2024  695.748968   596.767983
may   2024  859.784389   877.654533
nov   2024  478.867108   679.119795
oct   2024  558.497528   793.764521
sep   2024  823.008980   758.259924

volume: 743,13,86,277 of shares bought by FPIs on average each month.

In [19]:
(
    dfp1_4.pivot_table(
        index=["year"],# "month"],
        columns=["TR_TYPE"],
        values=["QUANTITY"],
        aggfunc="sum",
    )
    / 10000000 #crores
)

            QUANTITY
TR_TYPE            1            4
year
2024     8917.663532  9104.628814
2025     1650.809584  1827.032205

In [11]:
(
    dfp1_4[dfp1_4["year"] == 2024].pivot_table(
        index=["year"],
        columns=["TR_TYPE"],
        values=["value_crores"],
        aggfunc="sum",
    )
    # / 10000000
).reset_index()["value_crores"].mean()

TR_TYPE
1    4.178718e+06
4    4.296630e+06
dtype: float64

In [34]:
dfp.columns

Index(['SCRIP_NAME', 'ISIN', 'TR_DATE', 'TR_TYPE', 'RATE', 'QUANTITY', 'VALUE',
       'month', 'year', 'mutual_fund', 'value_crores', 'company_name',
       'instrument_type'],
      dtype='object')

## NSE total traded quantity calculations

https://www.nseindia.com/market-data/business-growth-cm-segment

In [40]:
total_qty_traded = 10427995 * 100000

In [43]:
fpi_bough_sold_shares = 180222923458

In [44]:
fpi_bough_sold_shares / total_qty_traded

0.17282605472864151

In [46]:
fpi_bough_sold_shares / 10000000

18022.2923458

In [15]:
## stock level some analysis

In [16]:
dt1 = pq.read_table("fpi_data/fpi_id_2024_2025.parquet").to_pandas()

In [19]:
dt1.head()

,SCRIP_NAME,ISIN,FII,SUB_ACC,TR_DATE,TR_TYPE,RATE,QUANTITY,VALUE,month,year
0,TATA STEEL LIMITED EQ FV 01 - TEMP ISIN,IN8081A01037,F523887572168,S676073206088,2024-02-01,7,0.0,558538.0,0.0,feb,2024
1,THE TINPLATE COMPANY OF INDIA LTD EQ FV 10,INE422C01014,F523887572168,S676073206088,2024-02-01,16,0.0,169254.0,0.0,feb,2024
2,TATA STEEL LIMITED ISIN,IN8081A01037,F1068419163911,S1048561787079,2024-02-01,7,0.0,8814.0,0.0,feb,2024
3,TINPLATE COMPANY OF INDIA LIMITED SUSPENDED,INE422C01014,F1068419163911,S1048561787079,2024-02-01,16,0.0,2671.0,0.0,feb,2024
4,FONEBOX RETAIL LIMIT,INE0Q4701019,None,None,2024-02-01,2,70.0,8000.0,560000.0,feb,2024